 .App{
  background-color: rgb(82, 51, 11);
  width: 100%;
  margin: 0;
 }
 h1{
   color: wheat;
   font-style: italic;
 }
 .price{
   color: white;
 }
 .header-container{
   display: flex;
   justify-content: space-around;
   align-items: center;
 }
 .menu-list{
  display: flex;
 	flex-direction: column;
 	justify-content: center;
  background-color: rgb(82, 51, 11);
 	height: 100%;

 	padding: 20px;
 }
.item-container{
  background-color: rgb(97, 58, 7);
  
}
 .row{
   margin: 20px 0;
   background-color: rgb(156, 100, 54);
   color: wheat;
   padding: 20px;
   border-radius: .5em;
   justify-content: space-between;
   display: flex;
   align-items: center;
   position: relative;
 }
.item-container span{
  position: relative;
  right: 10px;
}

.order-btn{
  background-color: rgb(97, 58, 7);
  color: wheat;
  border: none;
  border-radius: .5em;
  padding: 10px;
  margin: 10px 0;
  cursor: pointer;
  right: 10px;
  
  bottom: 0px;
}
.image{
  position: absolute;
  height: 80px;
  width: 80px;
  right: 0;
  border-radius: 50%;
  bottom: -20px;
}
img{
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.header-logo{
  
  height: 80px;
}
.info{
  width: 60%;
  position: absolute;
  background-color: white;
  top: 20%;
  z-index: 1;
}

@media (min-width: 768px) {
  .menu-list{
    flex-direction: row;
  }
  .item-container{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .row{
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .image{
    position: absolute;
    right: 0;
    bottom: -20px;
  }
}
  
